body {
    font-family: "custom-font", "custom-font-bold", "custom-font-bold-italic", "Arial";
    color: green;
}

table#shiftsTable {
    border: 1px groove black;
}

.shiftCell {
    width: 33%;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
    vertical-align:top;
}

@keyframes blink {
    from {background-color: red;}
    to {background-color: yellow;}
}

#errorDiv {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: blink;
    animation-duration: 2s;
}

#shifts {
    height: 12%;
}

#volunteers {
    height: 80%;
}

.little {
    height: 4%;
}
