@font-face {
    font-family: "varah-bold";
    src: url("varah/Varah-Bold.woff2");
}

@font-face {
    font-family: "varah-bold-italic";
    src: url("varah/Varah-BoldItalic.woff2");
}

@font-face {
    font-family: "varah-italic";
    src: url("varah/Varah-Italic.woff2");
}

@font-face {
    font-family: "varah";
    src: url("varah/Varah-Regular.woff2");
}

body {
    font-family: "varah", "varah-bold-italic", "varah-bold", "varah-bold-italic", "Times New Roman"
}

table, th, td {
    border: 1px solid black;
}
