@font-face {
    font-family: "custom-font-bold";
    src: url("/style/font/bold.woff2");
}

@font-face {
    font-family: "custom-font-bold-italic";
    src: url("/static/font/bolditalic.woff2");
}

@font-face {
    font-family: "custom-font-italic";
    src: url("/static/font/italic.woff2");
}

@font-face {
    font-family: "custom-font";
    src: url("/static/font/regular.woff2");
}

body {
    font-family: "custom-font", "custom-font-bold", "custom-font-bold-italic", "Times New Roman"
}

table#shiftsTable {
    width: 100%;
}

.shiftCell {
    width: 33%;
}

table, th, td {
    border: 1px solid black;
    text-align: center
}
