<!doctype html>
<html lang="en">
    <head>
        <title>Three Rings Status Board</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/style.css?3">
    </head>
    <body>
        <p id="status" aria-live="polite" aria-atomic="false" aria-relevant="additions text">Loading...</p>
        <h1>Status</h1>
        <h2>Current Shifts</h2>
        <div id="shifts"><p>Loading shifts...</p></div>
        <h2>Listening Volunteers</h2>
        <table id="listeners"></table>
        <h2>Support Volunteers</h2>
        <table id="supports"></table>
        <h2>Textual Communication statistics</h2>
        <table>
            <tr>
                <th>Email</th>
                <th></th>
                <th>SMS</th>
                <th></th>
            </tr>
            <tr>
                <td>Unanswered Emails</td>
                <td>Age of oldest unanswered email</td>
                <td>Unanswered texts</td>
                <td>Age of oldest unanswered text</td>
            </tr>
            <tr>
                <td id="unansweredEmail"></td>
                <td id="oldestEmail"></td>
                <td id="unansweredSms"></td>
                <td id="oldestSms"></td>
            </tr>
        </table>
        <h2>News</h2>
        <div id="news"><p>Loading news...</p></div>
        <script src="/static/locals.js?2"></script>
        <script src="/static/main.js?35"></script>
    </body>
</html>