<!doctype html>
<html lang="en">
    <head>
        <title>3 Rings Dashboard</title>
    </head>
    <body>
        <p id="status" aria-live="polite" aria-atomic="false" aria-relevant="additions text">Loading...</p>
        <form id="loginForm">
            <h1>Login To 3 Rings</h1>
            <p><label>Username: <input type="text" id="username"></label></p>
            <p><label>Password: <input type="password" id="password"></label></p>
            <p><input type="submit" value="Login"></p>
        </form>
        <div id="main"
            <h1>Volunteer</h1>
            <section>
                <table id="volunteers" border="1"></table>
            </section>
        </div>
        <script src="/static/main.js"></script>
    </body>
</html>